/* document outline ----------------------------------------- */
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background-color: #efe;
}
@font-face {
  /* https://www.keshikan.net/fonts.html */
  font-family: 'DSEG7-Classic';
  src: url(../fonts/DSEG7Classic-BoldItalic.woff);
}
/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
#container{
  display: grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 20% 60% 10%;
  grid-template-areas:
     'player1 player2'
     'score1container score2container'
     'timer1 timer2'
     'pausebtn settingbtn';
  justify-items: stretch;
  align-items: stretch; /* 上下方向に中央揃え */
}
#player1{
  grid-area: player1;
  justify-self: center;
}
#player2{
  grid-area: player2;
  justify-self: center;
}
#score1container{
  grid-area: score1container;
  justify-self: center;
}
#score2container{
  grid-area: score2container;
  justify-self: center;
}
#gamemode{
  grid-area: 1/1/3/3;
}
#timer1{
  grid-area: timer1;
  align-self: center;
  justify-self: left;
}
#timer2{
  grid-area: timer2;
  align-self: center;
  justify-self: right;
}
#delay{
/*  grid-area: 1/1/4/3;*/
  grid-area: timer1; /* 初期表示位置は左側に */
  align-self: center; /* 上寄せ */
  justify-self: center;
  pointer-events: none; /* タップイベントを無効化(下に透過) */
}
#pauseinfo{
  grid-area: 3/1/4/3;
  justify-self: center;
  align-self: center;
}
#pausebtn{
  grid-area: pausebtn;
  justify-self: center;
  align-self: center;
  margin-top: 1vh;
}
#settingbtn{
  grid-area: settingbtn;
  justify-self: center;
  align-self: center;
  margin-top: 1vh;
}
/* object decorations ------------------------------------- */
.infotext{
  font-size: 3vw;
  text-align: center;
}
.score{
  width: 15vw;
  font-size: 7vw;
  text-align: center;
  border-radius: 20%;
  margin: 0 1vw;
  background-color: #fdd;
}
.score_scoreonly{
  width: 30vw;
  font-size: 20vw;
}
.timer{
  font-family: 'DSEG7-Classic', 'Arial Black', 'Meiryo UI';
  margin: 2vh 1vw 2vh 1vw;
  padding: 5vh 0;
}
.delay{
  justify-self: center;
  align-self: center;
  font-size: 10vw;
  background-color: rgba( 192, 192, 255, 0.8 );
  padding: 1vh 1vw;
  z-index: 2;
}
.updownbtn{
  font-size: 3vw;
  padding: 0.5em 0.5em;
  border-radius: 2.0em;
}
.oparationbtn{
  font-size: 1.6vw;
  padding: 0.5em 2em;
  border-radius: 1.6em;
  margin-top: 1vh;
}
.btnenable{
  border: 2px solid #4ef;
  background-color: #adf;
  border-color: #3af;
}
.btndisable{
  background-color: #ddd;
  border-color: #aaa;
  color: #aaa;
}
.teban{
  background-color: #ffa;
  font-size: 18vw;
  z-index: 1;
}
.noteban{
  background-color: #999;
  font-size: 10vw;
}
.teban_pause{
  background-color: #999;
  font-size: 14vw;
}
.lose{
  color: #f00;
}
.scorecontainer{
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
}
.pauseinfo{
  font-size: 3vw;
  text-align: center;
  background-color: #dfd;
  color: #00f;
  padding: 3vh 4vh;
  z-index: 3;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  position: absolute;
  display: none;
  z-index: 5;
}
#settingwindow input,select{
  font-size: 100%;
}
.popupwindow{
  background-color: #dff;
  border: 2px solid #00f;
  padding: 1em 2em;
  font-size: 1.8vw;
}
.popuptitle{
  font-size: 120%;
  background-color: #48f;
  color: #fff;
  padding: 1em;
}
/* toggle switch ----------------------------------------- */
/* (参考) https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  transition: .3s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #fff;
  transition: .3s;
}
input:checked + .slider {
  background-color: #29f;
}
input:checked + .slider:before {
  transform: translateX(2.0em);
  -webkit-transform: translateX(2.0em);
  -ms-transform: translateX(2.0em);
}
/* Rounded sliders */
.slider.round {
  border-radius: 1.6em;
}
.slider.round:before {
  border-radius: 50%;
}
/* Segmented Control ----------------------------------------- */
/* (参考) https://ginpen.com/2012/12/11/segmented-control/ */
.segmented {
    display: inline-block;
}
.segmented .label {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #777;
    float: left;
    padding: 0.5em 1em;
    text-align: center;
    width: 12vw;
}
.segmented input {
    display: none;
}
.segmented input:checked + .label {
    background-color: #29f;
    color: #fff;
}
/* 小技（タップした際の黒ずみ除去 / 長押しでメニューを開かない / テキスト選択不可 / スクロール不可）*/
/* (参考) http://techblog.kayac.com/2016/12/12/090000 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
/*  -webkit-touch-callout: none;*/
/*  -webkit-user-select: none;*/
}
